{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_employee %}
        Add Employee
    {% else %}
        Edit Employee
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_employee %}
                <h1>Add Employee</h1>
            {% else %}
                <h1>Edit Employee</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
            <br/>
            <a href="{{ url_for('admin.list_employees') }}" class="btn btn-default btn-lg">
            Cancel
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}