{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_core %}
        Add Core
    {% else %}
        Edit Core
    {% endif %}
{% endblock %}
{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_core %}
                <h1>Add Core</h1>
            {% else %}
                <h1>Edit Core</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form_c) }}
            <br/>
            <a href="{{ url_for('auth.list_cores') }}" class="btn btn-default btn-lg">
            Cancel
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}